@model IEnumerable<Restaurant.Models.RestMenu>

@{
    ViewBag.Title = "Store";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 main center-block">
            <h3 class="page-header center-block">Restaurant Menu</h3>
            @foreach (var restMenu in Model)
            {
                <div class="col-sm-4 col-md-4 center-block">                
                    <button class="btn btn-default">
                        @Html.ActionLink(restMenu.Name, "Browse", new { restMenu = restMenu.Name })                        
                    </button>
                </div>
            }
        </div>
    </div>
</div>